@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/* Variables */

$color-light: #fff;
$color-dark: #333;
$color-darker: rgb(39, 39, 39);

$font-logo: 'Syne Mono', monospace;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-dark;
  font-family: $font-text;
  color: $color-light;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
  height: auto;
}

.sidebar, .posts {
  background: $color-darker;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: $color-light;

    &:hover {
      color: #D5B986;
    }
  }

  .active {
    font-weight: bold;
    color: #22B5D3;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: block;
  opacity: 0;
  position: absolute;
  height: 0%;

  &.active {
    transition: 1s all;
    position: relative;
    display: block;
    opacity: 100;
    z-index: 2;
    // height: inherit;
    // width: inherit;
  }
}

.post-author a, .post-author {
  font-style: italic;
  text-decoration: none;
  color: #fff;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}
